
<table class="table table-hover">
    <thead>
      <tr>
        <th>Location</th>
        <th>Zone</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lossi</td>
        <td>B</td>
        <td>14 KM</td>
      </tr>
      <tr>
        <td>Lossi</td>
        <td>B</td>
        <td>14 KM</td>
      </tr>

    </tbody>
  </table>
