<h1>New Parking slot</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.parking_slot_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.parking_slot_path(@conn, :index) %></span>
