<h1>Listing Payments</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for payment <- @payments do %>
    <tr>
      <td><%= payment.amount %></td>
      <td>
        <span><%= link "Get Invoice", to: Routes.payment_path(@conn, :show, payment) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
